!src/ontology/tmp/README.md
.DS_Store
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
bin/
semantic.cache
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-wbbt-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/oort
src/ontology/patterns
src/ontology/patterns 
src/ontology/seed.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp/*
src/ontology/wbbt-base.*
src/ontology/wbbt-basic.*
src/ontology/wbbt-full.*
src/ontology/wbbt-simple-non-classified.*
src/ontology/wbbt-simple.*
src/ontology/wbbt.json
src/ontology/wbbt.obo
src/ontology/wbbt.owl
src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt